<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>gimalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>auth.AdminAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>servletContextListener.UploadFolderListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>PollController</display-name>
    <servlet-name>PollController</servlet-name>
    <servlet-class>controller.PollController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollController</servlet-name>
    <url-pattern>/PollController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
</web-app>